dc-syn/current-dc

icc-par/current-icc
icc-par/current-iccdp
icc-par/command.log
icc-par/icc_output.txt

pt-pwr/current-pt

*.bak
cacti-mc/SRAM_*/
cacti-mc/*.db
cacti-mc/*.lef
cacti-mc/*.lib
cacti-mc/*.mw
dc-syn/alib/

vcs-postsyn/*.vcd
vcs-postsyn/csrc/
vcs-postsyn/sdfAnnotateInfo
vcs-postsyn/simv_*
vcs-postsyn/testbench.v
vcs-postsyn/testbench_TOP_v.v
vcs-postsyn/ucli.key

vcs-postpar/*.vcd
vcs-postpar/csrc/
vcs-postpar/sdfAnnotateInfo
vcs-postpar/simv_*
vcs-postpar/testbench.v
vcs-postpar/testbench_TOP_v.v
vcs-postpar/ucli.key
